/* resources- whole project

pink hue color:
  RGB: 196, 172, 196
  HEX: #c4acc4
  HSL: 300, 16%, 72%

White color:


RGB: 244, 239, 244
HEX: #f4eff4
HSL: 300, 18%, 94%


*/

/* Home style */
.invitetop img{
  height:auto;
  width:100%;
  max-width:1000px;
  margin:0 auto;

}

.invitetop {
  text-align:center;
  width:100%;
  height:100%;
  Background: #c4acc4 cover no-repeat;
}

.flexcontainerhome{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.flexitemhome{
  padding: 20px 50px;
  margin: 10px;
  color: #c4acc4;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border:solid;
  border-radius: 5px;
  border-color:#c4acc4;
  text-decoration: none;
  font-family: 'Arima Madurai', cursive;

}

.activeflexitemhome{
  padding: 20px 50px;
  margin: 10px;
  color: #f4eff4;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border:solid;
  border-radius: 5px;
  border-color:#c4acc4;
  text-decoration: none;
  font-family: 'Arima Madurai', cursive;
}


.activeflexitemhome{
  padding: 10px 25px;
  margin: 5px;
  font-size: 1em;
}


/*RSVP Style*/

.headerRSVP{
  Background-color: RGBa(204,172,204,0.8);
  width:100%;

  color:#f4eff4;
  font-size:3em;
  display:inline-block;
  text-align: center;
  padding:10px;
  font-family: 'Arima Madurai', cursive;
}

.headerRSVP h1{
  margin:10px;
}

.flexcontainerRSVP{
  display:flex;
  align-items: center;
  justify-content: center;
}

.flexitemRSVP{
  padding: 5px 20px;
  margin: 5px;
  color: #f4eff4;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  border:solid;
  border-radius: 5px;
  border-color:#c4acc4;
  text-decoration: none;
}

.activeflexitemRSVP{
  padding: 5px 20px;
  margin: 5px;
  color: #c4acc4;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  border:solid;
  border-radius: 5px;
  border-color:#c4acc4;
  text-decoration: none;
}

.form{
  text-align: center;
  Margin:20px;
}

.airtable-embed{
  width:50%;
  background: #c4acc4;
  height:1500px ;
  text-align: center;
  background:none;
}

.sharedForm .formFieldAndSubmitContainer {
    background: #ffffff !important;
}

/*Registry Code*/

.registrytext{
  text-align: center;
  color: black;
  font-size:20px;
  font-family: 'Arima Madurai', cursive;
}

.registrylink{
  text-align: center;
  margin:50px;
  font-family: 'Arima Madurai', cursive;
}

.Monzolink{
  padding:20px 50px;
  margin:20px;
  border: solid;
  border-radius: 5px;
  color:#f4eff4;
  text-decoration: none;
  font-size: 2em;
  background:#c4acc4;

}

/* .circleimage{ */
  /* border-radius: 50%;
  Height:300px;
  width:auto;
  Margin-top:25px;
/* } */

footer{
  display:flex;
  Height:25px;
  justify-content:center;
  Margin-top:50px;
  padding:20px;
}

footer a{
  color:#c4acc4;
  text-decoration:none;
  Margin:10px;
  font-family: 'Arima Madurai', cursive;

}

.registrytext div:first-of-type{
  background-size:cover;
  background-image: url("./MRUsunsettrees.JPG");
  height:300px;
  width:300px;
  border-radius:50%;
  Margin:20px auto;
}

.detailstext div:first-of-type{
  background-size:cover;
  background-image: url("./Sunsetsmile.JPG");
  height:300px;
  width:300px;
  border-radius:50%;
  Margin:20px auto;
}

.detailstext{

  text-align: center;
  color: black;
  font-size:20px;
  font-family:;
  justify-content: center;
  font-family: 'Arima Madurai', cursive;

}

.details{
  border-style:solid;
  border-color: RGBa(196, 172, 196,0.6) ;
  border-radius: 5px;
  padding: 25px;
  margin:5px;
  width: 20%;
  height:200px;
}

.details h3{
  margin:1px;
  text-align: center;
  width:100%;
  font-family: 'Arima Madurai', cursive;
}

.details p{
  margin:1px;
  text-align: center;
  width:100%;
}

.longcontainer{
  border-style:solid;
  border-color: RGBa(196, 172, 196,0.6) ;
  border-radius: 5px;
  padding: 25px;
  margin:5px;
  width: 71%;
  height:150px;
  font-family: 'Arima Madurai', cursive;
}

.longcontainer h3{
  margin:1px;
  text-align: center;
  width:100%;
}

.accomlink{
  padding:10px 25px;
  margin:75px 25px;
  border: solid;
  border-radius: 5px;
  color:#f4eff4;
  text-decoration: none;
  font-size: 2em;
  background:#c4acc4;
}


.center{
  text-align: center;
  display:flex;
  justify-content: center;
}

@media (max-width:830px){

  .flexitemhome{
    padding: 15px 35px;
    margin: 5px;
    font-size: 1em;
  }
  .activeflexitemhome{
    padding: 15px 35px;
    margin: 5px;
    font-size: 1em;
  }
}



@media(max-width:500px){
.flexitemhome{
  padding: 10px 25px;
  margin: 5px;
  font-size: 1em;
}
  }
